<%= link_to "< Back to Course", @section.course %>
<div class="row">
  <div class="columns small-10">
    <h1><%= @section.course.name %></h1>

    <div class="section-name"><%= @section.name %></div>
    <div class="term-name"><%= @section.term.name %></div>
  </div>
  <div class="columns small-2">
    <div class="page-actions">
      <%= link_to(edit_section_path(@section)) do %>
        <i class="fi-page-edit"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    <% @roles.each do |role_name, role_members| %>
      <% if role_members.count > 1 %>
        <h2><%= role_name %> (<%= role_members.count %>)</h2>
      <% else %>
        <h2><%= role_name %></h2>
      <% end %>
      <ul class="<%= role_name.downcase %>">
        <% role_members.each do |member| %>
          <li><%= member.profile.display_name %> (<%= link_to "profile", member.profile %>)</li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="small-6 columns">
    <% @assignments.each do |type,assignments| %>
      <h2><%= type %></h2>
      <ul>
        <% assignments.each do |assignment| %>
          <li>
            <%= link_to assignment.name, assignment %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>